@model Note

@{
    ViewData["Title"] = "Not Detayı";
}

<div class="row mb-4">
    <div class="col">
        <h3 class="display-5 border-bottom">@ViewData["Title"]</h3>
    </div>
</div>

<div class="row mb-4">
    <div class="col-6">
        <dl class="row">
            @*datalist*@
            <dt class="col-4">@Html.DisplayNameFor(model => model.Category.Name)</dt>
            <dd class="col-8">@Model.Category.Name</dd>

            <dt class="col-4">@Html.DisplayNameFor(model => model.Title)</dt>
            <dd class="col-8">@Model.Title</dd>

            <dt class="col-4">@Html.DisplayNameFor(model => model.Summary)</dt>
            <dd class="col-8">@Model.Summary</dd>

            <dt class="col-4">@Html.DisplayNameFor(model => model.IsDraft)</dt>
            <dd class="col-8"><i class="fa fa-@(Model.IsDraft ? "check text-success" : "times text-danger")"></i></dd>

            <dt class="col-4">Favori Sayısı</dt>
            <dd class="col-8">@Model.Likes.Count</dd>

            <dt class="col-4">Yorum Sayısı</dt>
            <dd class="col-8">@Model.Likes.Count</dd>

            <dt class="col-4">@Html.DisplayNameFor(model => model.CreatedUser)</dt>
            <dd class="col-8">@Model.CreatedUser</dd>

            <dt class="col-4">@Html.DisplayNameFor(model => model.CreatedAt)</dt>
            <dd class="col-8">@Model.CreatedAt</dd>

            <dt class="col-4">@Html.DisplayNameFor(model => model.ModifiedUser)</dt>
            <dd class="col-8">@Model.ModifiedUser</dd>

            <dt class="col-4">@Html.DisplayNameFor(model => model.ModifiedAt)</dt>
            <dd class="col-8">@Model.ModifiedAt</dd>

            <dt class="col-4">@Html.DisplayNameFor(model => model.Detail)</dt>
            <dd class="col-8">@Model.Detail</dd>
        </dl>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-edit me-2"></i>Düzenle</a>
        <a class="btn btn-secondary btn-sm" asp-action="Index"><i class="fa fa-arrow-left me-2"></i>Listeye Dön!</a>
    </div>
</div>